
/* parametre generaux */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url(../img/livre-bibliotheque-manuel-ouvert.jpg) no-repeat center/cover;
    height: 100vh;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(179, 141, 245, 0.5);
    z-index: -10;
}

h2{
    color: #fff;
    text-align: center;
    padding: 30px;
    font-style: italic;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

h2::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #fff;
    display: block;
    margin: 7px auto;
}

/*tableau*/

.tablecontainer{
    padding-top: 15px;
    padding-bottom: 30px;
    margin: 0px auto;
    width: 80%;
    max-width: 700px;
    background: #242446a2;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px black
}

table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    max-height: 100%;
    margin: 0px auto;
}

thead tr{
    background: #1e1e1e;
    color: #fff;
    font-size: 0.9rem;
    text-align: left;
}

thead tr th{
    padding: 12px 10px;
    border: #fff 1px solid;
}

tr td{
    padding: 12px 10px;
    border: #fff 1px solid;
    font-size: 0.9rem;
}

table tbody tr:nth-child(odd){
    background: #5C97CB;
    color: #1e1e1e;
}
tbody tr{
    background: #30304E;
    color: #fff;
}

.btn{
    background: #FF0000;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
} 

.btn:hover{
    background: #FF0000a2;
}

.btn2{
    background: #FFA500;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.btn2:hover{
    background: #FFA500a2;
}

/*bouton ajouter*/

.btn3{
    display: block;
    background: #37AF65;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    box-shadow: 1px 1px 5px 0px black;
    margin: 10px auto;
}

.btn3:hover{
    background: #2E8B57;
}
/*formulaire*/

.ajoutlivre{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-300px, 0px);
    opacity: 0;
    transition:  0.5s ease-in-out;
    visibility: hidden;
}

.active{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
    opacity: 1;
    transition:  0.5s ease-in-out;
    visibility: visible;
}

.cards-form{
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    padding: 20px ;
    background: #242446a2;
    border-radius: 10px;
    display: flex  ;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px 0px black;
}

label{
    color: #fff;
    font-size: 0.9rem;
    margin: 15px 0px 5px 5px;
}

input{
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 0.9rem;
}

input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

p{
    margin-top: 5px;
}

#button{
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 0.9rem;
    background: #37AF65;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.2s ease-in-out;
    box-shadow: 1px 1px 5px 0px black
}
#button2{
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    border: none;
    outline: none;
    font-size: 0.9rem;
    background: #37AF65;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.2s ease-in-out;
    box-shadow: 1px 1px 5px 0px black
}

#button2:hover{
    background: #2E8B57;
}

#button:hover{
    background: #2E8B57;
}

.hidden{
    display: none;
}

